// @import url('index.css');

/* Colors & font-sizes */
:root {
    --clr-bg:#a7bcff;

    --clr-primary: #7b96ec;

    --clr-accent: #a7bcff;
    --clr-accent-light: #8da4f1;

    --clr-neutral: #3e3c61; 

    --clr-text: #5d5b8d; 
    --clr-link: #7b96ec;
    --clr-gray: rgb(175,175,175);

    --ff-primary: "Be Vietnam Pro", sans-serif;
    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-primary);

    --fw-regular: 400;
    --fw-semi-bold: 500;
    --fw-bold: 700;

}

* {
    font-family: var(--ff-primary);
}

.auth_container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--clr-accent); 
    
    .auth_wrapper {
        background-color: #fff;
        border-radius: 10px;
        padding: 20px 80px;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .auth_logo {
            color: var(--clr-text);
            font-weight: bold;
            font-size: 24px;
        }

        .auth_title{
            color: var(--clr-text);
            font-size: 1em;
        }
        
        .form { 
            display: flex;
            flex-direction: column;
            gap: 15px; 
            
            &_field {
                padding: 15px;
                border: none;
                width: 300px;
                border-bottom: 1px solid var(--clr-accent);
                &::placeholder {
                    color: var(--clr-gray);
                }
                &:focus {
                    border: 2px solid var(--clr-accent);
                    border-radius: 4px;
                    outline: 0 none;
                }
            }
            &_avatar {
                display: none;
            }
            .avatar_label {
                display: flex;
                color: var(--clr-accent-light); 
                align-items: center;
                font-size: 12px;
                gap: 10px;
                img {
                    width: 32px;
                }
            }
            &_button {
                cursor: pointer;
                font-weight: bold;
                color:#fff;
                padding: 10px;
                background-color: var(--clr-primary);
            }
        }
        .auth_switch {
            color: var(--clr-text);
            font-size: 12px;
            .switch_link {
                color: var(--clr-link);
                text-decoration: none;
            }
        }
    }
}

.home_container {
    background-color: var(--clr-accent);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    .home {
        border-radius: 10px;
        border: 1px solid #fff;
        width: 65%;     
        height: 80%;
        display: flex;
        overflow: hidden;
        .sidebar {
            background-color: var(--clr-neutral);
            flex:1;
        }
        .chat {
            flex:2;
        }
    }
}